# LYFT DATA CHALLENGE

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from helper import *

In [3]:
drivers = pd.read_csv('driver_ids.csv')
rideID = pd.read_csv('ride_ids.csv')
ridetime = pd.read_csv('ride_timestamps.csv')

# GOALS

After exploring and analyzing the data, please:
 
#### 1.     Recommend a Driver's Lifetime Value (i.e., the value of a driver to Lyft over the entire projected lifetime of a driver).
- Most obvious is the revenue that the driver has accumulated normalized by time
- Shorter rides vs longer rides value
- Which time are they active? Are more drivers getting more during late or early or busienss?
Why 
 
#### 2. 	Please answer the following questions:
 
    a) What are the main factors that affect a driver's lifetime value?
 
    b) What is the average projected lifetime of a driver? That is, once a driver is onboarded, how long do they typically continue driving with Lyft?
 
    c) Do all drivers act alike? Are there specific segments of drivers that generate more value for Lyft than the average driver?
 
    d) What actionable recommendations are there for the business?
 
#### 3.     Prepare and submit a writeup of your findings for consumption by a cross-functional audience.
***

# Column Elements

### Drivers:
- #### driver_id: 
        Unique identifier for a driver
- #### driver_onboard_date : 
        Date on which driver was on-boarded

### RideID:
- driver_id = Unique identifier for a driver
 
- ride_id = Unique identifier for a ride that was completed by the driver
 
- ride_distance = Ride distance in meters
 
- ride_duration = Ride duration in seconds
 
- ride_prime_time = Prime Time applied on the ride

### RideTime:
- ride_id = Unique identifier for a ride
 
- event = event describes the type of event (see below)
 
- timestamp = Time of event

***
 
#### EVENT TYPES:
 
- #### requested_at : 
        passenger requested a ride
 
- #### accepted_at :
        driver accepted a passenger request
 
- #### arrived_at : 
        driver arrived at pickup point
 
- #### picked_up_at : 
        driver picked up the passenger
 
- #### dropped_off_at : 
        driver dropped off a passenger at destination

***
# Assumptions:
- All rides in the data set occurred in San Francisco
 
- All timestamps in the data set are in UTC

## Rates:

- Base Fare : $2.00 

- Cost per Mile : $1.15

- Cost per Minute : $0.22 

- Service Fee : $1.75

- Minimum Fare : $5.00

- Maximum Fare : $400.00

***

In [4]:
print(len(drivers) == drivers.driver_id.nunique())
drivers.head()

True

                          driver_id  driver_onboard_date
0  002be0ffdc997bd5c50703158b7c2491  2016-03-29 00:00:00
1  007f0389f9c7b03ef97098422f902e62  2016-03-29 00:00:00
2  011e5c5dfc5c2c92501b8b24d47509bc  2016-04-05 00:00:00
3  0152a2f305e71d26cc964f8d4411add9  2016-04-23 00:00:00
4  01674381af7edd264113d4e6ed55ecda  2016-04-29 00:00:00

In [5]:
rideID.head()

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100

In [6]:
ridetime.head(5)

                            ride_id           event            timestamp
0  00003037a262d9ee40e61b5c0718f7f0    requested_at  2016-06-13 09:39:19
1  00003037a262d9ee40e61b5c0718f7f0     accepted_at  2016-06-13 09:39:51
2  00003037a262d9ee40e61b5c0718f7f0      arrived_at  2016-06-13 09:44:31
3  00003037a262d9ee40e61b5c0718f7f0    picked_up_at  2016-06-13 09:44:33
4  00003037a262d9ee40e61b5c0718f7f0  dropped_off_at  2016-06-13 10:03:05

Adding fare & determining timestamp for each ride.

In [12]:
rideID['fare'] = rideID.apply(value_of_ride, axis = 1)
rideID = rideID.merge(ridetime[ridetime['event'] == 'arrived_at'][['ride_id','timestamp']], 
                      on = "ride_id", 
                      how = "left")

In [13]:
rideID.head()

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,fare,timestamp
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50,5.000000,2016-04-23 02:16:36
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0,5.368741,2016-03-29 19:03:57
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0,5.000000,2016-06-21 12:01:32
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25,58.889055,2016-05-19 09:18:20
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100,5.958150,2016-04-20 22:07:03

In [17]:
drivers

                            driver_id  driver_onboard_date
0    002be0ffdc997bd5c50703158b7c2491  2016-03-29 00:00:00
1    007f0389f9c7b03ef97098422f902e62  2016-03-29 00:00:00
2    011e5c5dfc5c2c92501b8b24d47509bc  2016-04-05 00:00:00
3    0152a2f305e71d26cc964f8d4411add9  2016-04-23 00:00:00
4    01674381af7edd264113d4e6ed55ecda  2016-04-29 00:00:00
5    01788cf817698fe68eaecd7eb18b2f72  2016-05-06 00:00:00
6    0213f8b59219e32142711992ca4ec01f  2016-04-07 00:00:00
7    021e5cd15ef0bb3ec20a12af99e142b3  2016-05-07 00:00:00
8    0258e250ca195cc6258cbdc75aecd853  2016-04-26 00:00:00
9    028b5a4dcd7f4924ebfabcf2e814c014  2016-05-06 00:00:00
10   02d6a6b8a6da15fc219a9570f7ebbe78  2016-05-03 00:00:00
11   02e440f6c209206375833cef02e0cbae  2016-03-31 00:00:00
12   036f3d94e7c65e4e3574822d31c72656  2016-04-09 00:00:00
13   039c5afbca8e03e4c18d9c8ea94140ac  2016-04-12 00:00:00
14   039da9c077e17af98ca8530e4d7975f1  2016-05-04 00:00:00
15   03f2b5c74cb89f39e58711699e76bf39  2016-04-10 00:00:00
16   03f5278eb43475aa6790f5be32463755  2016-04-12 00:00:00
17   0430df9a3eb327122c57ee3a64765000  2016-04-05 00:00:00
18   04c4ffa5a385eab86fa7e422263d2999  2016-04-07 00:00:00
19   04d686ef2fba281e395992a28f14fdd3  2016-05-14 00:00:00
20   052bba06c5fc0bdea4bc2f9cb92b37c7  2016-04-15 00:00:00
21   059ed570673c2d15ca11dd6b3a25513b  2016-05-12 00:00:00
22   05addf442c147875efa5cf53453ad47b  2016-04-08 00:00:00
23   05bad02e08c7f849e91dc1259da8b4ec  2016-05-12 00:00:00
24   0656192a402808805282e60761bda088  2016-04-30 00:00:00
25   06b1ba06e5505f8218ec8686498f990a  2016-05-11 00:00:00
26   06c848ab3a7fc5421e82e98850a81710  2016-04-20 00:00:00
27   07dd442e3e0b9f0f9b0d69c7b47cbb06  2016-04-08 00:00:00
28   07e6a2fdaadc640cca9a7bec41351065  2016-05-14 00:00:00
29   081d8ba3bc9a00a481df02bd9d0a4c53  2016-04-04 00:00:00
..                                ...                  ...
907  f86eb77e1cefe28e9f0e9d3775fae261  2016-03-28 00:00:00
908  f91254f1c1b3112ef3464e477d23c9e8  2016-05-01 00:00:00
909  f98673773627b4b8d152e2b168b85bb2  2016-05-15 00:00:00
910  f9893308ea5859d7ede4e034086c461c  2016-04-06 00:00:00
911  f9aa6d69d74e786544027a1ab3049f44  2016-04-27 00:00:00
912  fac81ea6cbd540c89c7eee17e851a233  2016-04-30 00:00:00
913  faebff3d5429ff2036c125a91df765c8  2016-03-28 00:00:00
914  fb83fc6555a4f700fd92630d9fcb9cea  2016-04-28 00:00:00
915  fb903879c556260ae2604ae0c45cb92a  2016-05-02 00:00:00
916  fba8372d56b91b1bff7b71d970b5af58  2016-04-01 00:00:00
917  fbe0433e5b1a3db9dc9d6ed21efc6148  2016-05-08 00:00:00
918  fc3504d2efaaaa976a33b3c856927155  2016-04-24 00:00:00
919  fc83b793850ea70d9e898afd0b3ef592  2016-04-15 00:00:00
920  fc857228f75499b2f24b3d547e12b9e9  2016-05-09 00:00:00
921  fd1bfe51e18fc13936ae19ce3a387fff  2016-05-05 00:00:00
922  fd2130d0d215069168dc2f79c1f5ae44  2016-04-08 00:00:00
923  fd39748ba122e84e9ac492e6fb7c7a05  2016-04-17 00:00:00
924  fd831ca1d79ae5c6fc3a679a22e5b8cf  2016-05-07 00:00:00
925  fda96e6cd3395dfae3e59cd4ac95f7d7  2016-04-24 00:00:00
926  fdbee494c73577d5b1266d1fec5c6c9a  2016-05-15 00:00:00
927  fde60697758e68d617f471e49f65db75  2016-04-25 00:00:00
928  fdff1a7205bc3b9ab1dc5dc223782fc5  2016-03-31 00:00:00
929  fe35f74209d1056dd315ddb17681203d  2016-04-05 00:00:00
930  fe469488a23d4bdda47b83a659dcc103  2016-04-16 00:00:00
931  fed19d671569afe8a2f9fa0953dd25ca  2016-03-29 00:00:00
932  ff419a3476e21e269e340b5f1f05414e  2016-04-26 00:00:00
933  ff714a67ba8c6a108261cd81e3b77f3a  2016-03-28 00:00:00
934  fff482c704d36a1afe8b8978d5486283  2016-04-08 00:00:00
935  fffecccc49436c5389075b13209f0dfa  2016-05-06 00:00:00
936  ffff51a71f2f185ec5e97d59dbcd7a78  2016-05-04 00:00:00

[937 rows x 2 columns]